@page "/not-found"
<PageTitle>Nicht gefunden</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="mcs-page">
    <MudPaper Elevation="0" Class="mcs-panel">
        <MudStack Spacing="3" AlignItems="AlignItems.Center">
            <MudIcon Icon="@Icons.Material.Filled.SearchOff" Color="Color.Primary" Size="Size.Large" />
            <h1 class="mcs-page-title">Seite nicht gefunden</h1>
            <MudText Class="mcs-lead" Align="Align.Center">Unter dieser Adresse gibt es keine Funktion.</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/" FullWidth="true" Class="mcs-wide-button">
                Zur Startseite
            </MudButton>
        </MudStack>
    </MudPaper>
</MudContainer>
